<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog <%= title %></title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <% const name="kevin" %>
    <h1><%= name %></h1>
    <h1>Home</h1>
    <h2>Coming home now</h2>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/blogs/create"> New Blog</a>
    </nav>
    <% if(blogs.length){%>
    <% blogs.forEach(blog=>{ %>
        <h3><%= blog.title %></h3>
        <p><%= blog.snippet %></p>
    <% }) %>
    <% } else { %>
        <p>There are no blogs to display...</p>
    <% } %>
</body>
</html>